
html, body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto; /* centers */
  padding: 0 64px;    
  width: 100%;     
}

header {
    margin-bottom: 64px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 96px;
}

h1 {
    font-weight: 700;
    font-size: 96px;
}

h2 {
    font-weight: 500;
    font-size: 48px;
}

h3 {
    font-size: 40px;
    font-weight: 500;
}

p {
    color: #333333
}

img {
    height: 748px;
    width: auto;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 44px;
    justify-content: center;
    padding: 0;
}

.nav-list a {
    text-decoration: none;
    font-size: 24px;
    color: #1C1C1C;
}

/* ======================== Hero Section ======================== */

.hero .container{
    display: flex;
    justify-content: space-between;
}

.hero h1 {
    margin: 0;
}

.hero h2 {
    margin: 0;
}

.hero p {
    margin: 0;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 98px;
}

.intro-statement {
    max-width: 400px;
    font-size: 20px;
    font-weight: 500;
}

.hero-cta {
    display: flex;
    gap: 24px;
}

/* ======================== Selected Projects Section ======================== */

.project-cards {
    display: flex;
    column-gap: 24px;
    row-gap: 80px;
    flex-wrap: wrap;
}

.project-card {
    /* flex: 1; */
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    text-decoration: none; /* remove link underline */
    color: inherit;  
    /* padding-bottom: 52px; */
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.project-tags {
    display: flex;
    gap: 20px;
}

.project-card span {
    font-size: 14px;
    color: #585858;
    padding: 16px 0;
    /* border: 1px solid #58585838;
    padding: 4px 8px;
    border-radius: 999px; */
}

.project-title {
    font-weight: 600;
    font-size: 32px;
    padding: 8px 0;
    margin: 0;
    /* padding: 4px 0; */
}

.project-description p {
    margin: 12px 0 ;
}

.project-description p:first-child {
    font-weight: 600;
}

/* .project-card p {
    margin: 0;
} */

/* ======================== Reusable components Section ======================== */

.btn-primary {
    padding: 12px 16px;
    background-color: #1C1C1C;
    color: white;
    border-radius: 999px;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

.btn-secondary {
    padding: 12px 16px;
    background-color: white;
    color: #1C1C1C;
    border-radius: 999px;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    border: #1C1C1C 1px solid;
}

footer {
    width: 100%;
}

hr {
    margin-top: 52px;
    color: #979797;
}

address {
    display: flex;
    justify-content: center;
    padding: 52px;
    font-style: normal;
}

address a {
    color: #1C1C1C;
    text-decoration: none;
    font-weight: 500;
}

/* #current-page {
    background-color: #1C1C1C;
    color: white;
    padding: 4px 16px;
    border-radius: 999px;
    font-weight: 700;
} */

#current-page {
    text-decoration: underline #1C1C1C 3px;
    text-underline-offset: 8px;
    font-weight: 700;
}

.contact-cta {
    display: inline-block;
    margin: 24px 0 16px 0;
}