/* ======================== Buttons ======================== */

.btn-primary {
    padding: 12px 16px;
    background-color: #333333;
    color: white;
    border-radius: 999px;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

.btn-secondary {
    display: inline-block;
    padding: 12px 16px;
    background-color: white;
    color: #1C1C1C;
    border-radius: 999px;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    border: #1C1C1C 1px solid;
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: #000;
    color: white;
    transition: background-color 0.5s, color 0.5s;
}

.contact-cta {
    display: inline-block;
    margin: 24px 0 16px 0;
}

/* ======================== Links ======================== */

.external-link {
    color: #333333;
    text-decoration: underline;
    text-underline-offset: 8px;
    font-weight: 500;
    font-size: 20px;
}

.external-link::after {
  content: " ↗";
}

/* ======================== Project Cards ======================== */

.project-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 80px;
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    text-decoration: none;
    color: inherit;
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.project-tags {
    display: flex;
    gap: 20px;
    color: #585858;
}

.project-card span {
    font-size: 14px;
    color: #585858;
    padding: 16px 0;
}

.project-title {
    font-weight: 600;
    font-size: 32px;
    padding: 8px 0;
    margin: 0;
}

.project-description p {
    margin: 12px 0;
}

.project-description p:first-child {
    font-weight: 600;
}

/* ======================== Intro Statement ======================== */

.hero-title,
.hero-subtitle {
    text-wrap: balance;
    max-width: 15ch;
}

.intro-statement {
    margin: 0;
    max-width: 400px;
    font-size: 20px;
    font-weight: 500;
    text-wrap: balance;
}

/* ======================== Responsive Design ======================== */
@media (max-width: 1100px) {
    .project-cards {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 64px;
    }

    .intro-statement {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .btn-primary,
    .btn-secondary,
    .external-link {
        font-size: 18px;
    }

    .project-cards {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    .project-tags {
        flex-wrap: wrap;
        gap: 12px;
    }

    .project-card span {
        padding: 8px 0;
    }

    .project-title {
        font-size: 28px;
        padding: 0;
    }

    .intro-statement {
        max-width: 32ch;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .btn-primary,
    .btn-secondary {
        font-size: 16px;
        padding: 12px 14px;
    }

    .project-cards {
        max-width: 100%;
    }

    .project-title {
        font-size: 24px;
    }

    .external-link {
        font-size: 16px;
    }
}